body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, rgb(145, 145, 177), rgb(185, 129, 185), rgb(230, 155, 168)) ;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center; 
  display: flex;
}

.l-con{
  background-color: white;
  text-align: center;
  height: 350px;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 26px;
  color: black;
  margin-top: 8px;
  margin-bottom: 58px;
  border-bottom: 1px solid rgb(202, 192, 192);
  
}