body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, rgb(145, 145, 177), rgb(185, 129, 185), rgb(230, 155, 168)) ;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center; 
  display: flex;
}

.l-con{
  background-color: white;
  text-align: center;
  height: 350px;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  color: black;
  margin-top: 8px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  
}

form{
  display: flex;
  flex-direction: column;
}

.input-mode{
  padding: 20px;
  padding-left: 0px;
  margin-top: 0;

}

input{
  padding: 10px;
  margin: 10px 0;
  width: 240px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size:16px;
  border-radius: 5px;
  
}

.forgot-pass a{
  display: flex;
  padding-left: 0;
  /* margin-left: 0; */
  text-decoration: none;
  color: #463b4d;
  padding: 20px ;
  font-size: 14px;
  margin: 10px 0;
  margin-top: 0px;
}